<ion-header>
    <ion-toolbar>
        <ion-title>Registrarse</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="form" (ngSubmit)="guardar()">
        <ion-item>
            <ion-input placeholder="Correo" formControlName="email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input placeholder="Contraseña" type="password" formControlName="pass"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input placeholder="Repite tu contraseña" type="password" formControlName="pass2"></ion-input>
        </ion-item>
        <br>
        <ion-button type="submit" expand="block">Registrarse</ion-button>
    </form>
</ion-content>

<ion-footer>
    <ion-button size="block" color="secondary" (click)="navegarLogin()">Accede aqui</ion-button>
</ion-footer>