<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Empresas
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="mostrarFiltros()" color="primary">
                <ion-icon slot="icon-only" name="funnel"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-searchbar [(ngModel)]="nombre" placeholder="Buscar..."></ion-searchbar>

    <ion-chip *ngIf="distancia" color="primary" (click)="quitarFiltroDistancia()">
        <ion-label>Distancia</ion-label>
        <ion-icon name="close-circle"></ion-icon>
    </ion-chip>
    <ion-chip *ngIf="sector" color="primary" (click)="quitarFiltroSector()">
        <ion-label>Sector</ion-label>
        <ion-icon name="close-circle"></ion-icon>
    </ion-chip>

    <ion-list>
        <ion-item-sliding *ngFor="let empresa of empresasFiltradas; let i = index">
            <ion-item [routerLink]="['/detalle',empresa.id]" *ngIf="empresa.nombre.toLowerCase().includes(this.nombre.toLowerCase())">
                <app-tarjeta [empresaRecibida]="empresa"></app-tarjeta>
            </ion-item>
            <ion-item-options side="start">
                <ion-item-option (click)="seguirEmpresa(empresa)" color="warning">
                    <ion-icon slot="icon-only" name="star-outline"></ion-icon>
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>

    </ion-list>
</ion-content>