<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Mis Empresas
        </ion-title>
    </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">

    <ion-segment [(ngModel)]="mostrar">
        <ion-segment-button value="publicas">
            <ion-label>Siguiendo</ion-label>
        </ion-segment-button>
        <ion-segment-button value="privadas">
            <ion-label>Personales</ion-label>
        </ion-segment-button>
    </ion-segment>

    <ion-list *ngIf="mostrar == 'privadas'">
        <ion-item-sliding *ngFor="let empresa of empresasPrivadas">
            <ion-item [routerLink]="['/detalles-empresa',empresa.id]">
                <app-tarjeta [empresaRecibida]="empresa"></app-tarjeta>
            </ion-item>
            <ion-item-options>
                <ion-item-option (click)="borrar(empresa.id)" color="danger">
                    <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
                </ion-item-option>
            </ion-item-options>
            <ion-item-options side="start">
                <ion-item-option [routerLink]="['/editar',empresa.id]" color="success">
                    <ion-icon slot="icon-only" name="create-outline"></ion-icon>
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>

    <ion-list *ngIf="mostrar == 'publicas'">
        <ion-item-sliding *ngFor="let empresa of empresas; let i = index">
            <ion-item [routerLink]="['/detalle',empresa.id]">
                <app-tarjeta [empresaRecibida]="empresa"></app-tarjeta>
            </ion-item>
            <ion-item-options side="start">
                <ion-item-option (click)="dejarSeguir(i)" color="warning">
                    <ion-icon slot="icon-only" name="star"></ion-icon>
                </ion-item-option>
            </ion-item-options>

        </ion-item-sliding>

    </ion-list>


    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="agregarEmpresa()" color="tertiary">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>